<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <div th:insert="~{parts/links::links}"></div>
</head>
<body class="hold-transition sidebar-mini">

<!-- Site wrapper -->
<div class="wrapper">
    <div class="row">
        <div class="col">
            <div th:insert="~{parts/main header::main_header}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div th:insert="~{parts/sidebar::sidebar}"></div>
        </div>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">



            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<div th:insert="~{parts/scripts::scripts}"></div>
</body>
</html>