<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <div th:insert="~{parts/links::links}"></div>
</head>
<body class="hold-transition sidebar-mini">

<!-- Site wrapper -->
<div class="wrapper">
    <div class="row">
        <div class="col">
            <div th:insert="~{parts/main header::main_header}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div th:insert="~{parts/sidebar::sidebar}"></div>
        </div>
    </div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <form method="post" enctype="multipart/form-data" th:object="${film}">

            <!--Name films-->
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Назва фільму</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:field="*{name}" placeholder="назва фільму">
                </div>
            </div>

            <!--Description-->
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Опис</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control" th:field="*{detailsFilm.description}" placeholder="опис фільму"></textarea>
                </div>
            </div>

            <!--Main picture-->
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Головна картинка</label>
                <div class="col-sm-9">
                    <img th:src="*{mainPicture}"  width="150">
                    <input type="file" th:name="file"/>
                    <button type="submit" class="btn btn-success" name="addMainPicture">Додати</button>
                </div>
            </div>

            <!--Picture gallery-->
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Галерея картинок 1000х1900</label>
                <div class="col-sm-9" >

                    <th:block th:each="picture : *{listPicture}">
                        <img th:src="${picture.picture}"  width="190" height="100">
                    </th:block>

                    <input type="file" multiple th:name="files"/>
                    <button type="submit" class="btn btn-success" name="add">Додати</button>
                </div>
            </div>


            <!--link to trailer-->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Посилання на трейлер</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{detailsFilm.link}" placeholder="посилання на відео youtube">
                </div>
            </div>

            <!--type film-->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Тип кіно</label>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" th:field="*{detailsFilm.type3D}">
                        <label class="form-check-label">3D</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" th:field="*{detailsFilm.type2D}">
                        <label class="form-check-label">2D</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" th:field="*{detailsFilm.typeIMAX}">
                        <label class="form-check-label">IMAX</label>
                    </div>
                </div>
            </div>


            <div class="row mb-3 justify-content-md-center">
                <button name="save" type="submit" class="btn btn-success">Зберегти</button>
            </div>

        </form>

    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<div th:insert="~{parts/scripts::scripts}"></div>
</body>
</html>