<th:block xmlns="http://www.thymeleaf.org" th:fragment="sidebar">

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark">

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <a href="/admin" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Статистика
                        </p>
                    </a>

                    <a href="/admin" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Банера/Слайдери
                        </p>
                    </a>

                    <a href="/films" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Фільми
                        </p>
                    </a>

                    <a href="/admin" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Кінотетри
                        </p>
                    </a>

                    <a href="/admin" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Новини
                        </p>
                    </a>

                    <a href="/admin" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Акції
                        </p>
                    </a>

                    <a href="/admin" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Сторінки
                        </p>
                    </a>

                    <a href="/admin" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Користувачі
                        </p>
                    </a>

                    <a href="/admin" class="nav-link">
                        <i class="nav-icon"></i>
                        <p>
                            Розсилка
                        </p>
                    </a>


                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <!-- Main Sidebar Container -->
</th:block>