<th:block xmlns="http://www.thymeleaf.org" th:fragment="sidebar">

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-light-white">

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <p>
                                Статистика
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin" class="nav-link select2v">
                            <i class="nav-icon"></i>
                            <p>
                                Банера/Слайдери
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/films" class="nav-link">
                            <i class="nav-icon"></i>
                            <p>
                                Фільми
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="nav-icon"></i>
                            <p>
                                Кінотетри
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="nav-icon"></i>
                            <p>
                                Новини
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="nav-icon"></i>
                            <p>
                                Акції
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="nav-icon"></i>
                            <p>
                                Сторінки
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="nav-icon"></i>
                            <p>
                                Користувачі
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="nav-icon"></i>
                            <p>
                                Розсилка
                            </p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <!-- Main Sidebar Container -->


</th:block>